.empty-container {
    width: 0px;
    height: 0px;
}

.btn-clear {
    background-color: transparent;
    border-color: transparent;
}

.btn-back {
    position:relative;
    left:0px;
    top:-5px;

    padding: 0px 10px 0px 10px;

    font-size:xx-large;
    color:black;
}

.btn-back:hover {
    color:darkgray;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}