<div class="row mb-1">
  <div class="d-flex align-items-center justify-content-end
  col-3
  col-sm-2 
  ">
    <label for="" class="form-label">Ability</label>
  </div>

  <div class="d-flex align-items-center justify-content-center 
  col-5 
  col-sm-6">
    <input type="text" class="form-control text-center" id="" placeholder="10">
  </div>

  <div class="d-flex align-items-center justify-content-center
  col-4
  col-sm-2">
      <input type="text" class="form-control text-center" id="" placeholder="+0" disabled>
  </div>

  <div class="d-flex align-items-center justify-content-center
  col-auto offset-3 mb-2
  col-sm-2 offset-sm-0 mb-sm-0">
    <div class="form-check mt-1 mt-sm-0">
      <input class="form-check-input ms-1 ms-sm-0" type="checkbox" id="">
      <label class="form-check-label d-sm-none" for="">Saving Throw</label>
    </div>
  </div>
</div>