<!-- TODO: Make attribute elements deletable -->
<div class="row mb-1">
  <input type="hidden" class="form-control" id="" value="Attribute" aria-readonly="true" readonly aria-required="true" required>
  <div class="col-6 d-flex align-items-center text-wrap text-break">
    Sense Type
  </div>
  <div class="col-5 text-wrap text-break">
    <input type="number" min="0" step="5" class="form-control" id="" placeholder="0 ft" aria-required="true" required>
  </div>
  <div class="col-1 gx-0 d-flex align-items-center">
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
</div>