<!-- https://getbootstrap.com/docs/5.3/components/navbar/-->
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">

    <!-- TODO: Include an image or favicon with the navbar brand -->
    <a class="navbar-brand" href="/">Home</a> 

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav container-fluid">
        <a class="nav-link" href="#">+ Encounter</a>
        <a class="nav-link" href="/monster-editor.php">+ Monster</a>

        <!-- TODO: Decide if an 'about' page is necessary -->
        <a class="nav-link ms-auto" href="#">About</a>
        <a class="nav-link" href="#">Account</a>
      </div>
    </div>
  </div>
</nav>